/*nothing here yet at all*/


pre.modlist{


}

pre.onlinelist{
/*note that this will change to be a table or some such in the future*/

}

/*navbar note:
nav1 is left
nav2 is center
nav3 is right

for now we skip nav2 until we get something to link for it (forum? wiki? blog?)
*/
#navbar{
width: 70%;
text-align: center;
margin-top: auto;
margin-right: auto;
margin-bottom: auto;
margin-left: auto;
}
#nav1{
width: 50%;
margin-top: auto;
margin-right: auto;
margin-bottom: auto;
margin-left: auto;
float: left;
}

#nav3{
width: 50%;
margin-top: auto;
margin-right: auto;
margin-bottom: auto;
margin-left: auto;
float: right;
}